.header {
	margin-top: 60px;
	padding: 40px 0;
	min-height: 695px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--header-bg);
	background-image: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(58, 9, 121, 1) 55%,
		rgba(27, 0, 149, 1) 100%,
		rgba(12, 0, 255, 1) 100%
	);

	color: var(--header-text);
	text-align: center;
}

.header__title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
}

.header__title strong {
	font-size: 60px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: var(--accent);
}

.header__text {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.333;
}

.header__text p + p {
	margin-top: 0.5em;
}


@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.header__bg {
	height: 450px;
	animation: 10s linear infinite rotate;
}

@media (max-width: 620px) {
	/* Header  */

	.header {
		min-height: 500px;
		margin-top: 105px;
		min-height: unset;
	}

	.header__bg {
		height: 270px;
        }

	.header__title {
		font-size: 30px;
	}

	.header__title strong {
		font-size: 40px;
	}

	.header__text {
	font-size: 14px;
}
}
